@use '../global' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;

}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-main;
  text-align: center;

  background-image: url(../images/bg.webp);
  background-color: $secondary;
  background-size: cover;
  background-position: center 0px;
  background-repeat: no-repeat;

  overflow-x: hidden;
  @include mq(sp) {
    background-image: url(../images/bg-sp.webp);
  }
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

picture {
  vertical-align: middle;
}

a {
  text-decoration: none;
  transition: $transition;
  color: $textColor;
}

h1,
h2,
h3,
p,
a,
span {
  color: $textColor;
}

@media (any-hover: hover) {
  a:hover {
    opacity: 0.75;
  }

  a:hover * {
    opacity: 0.75;
  }
}