@use '../global' as *;
.pagination {
  width: 100%;
  @include centerFlex;
  gap: 8px;

  .page-numbers {
    @include centerFlex;
    width: 36px;
    height: 36px;

    background-color: $bgColorLight;
    border: 1px solid $primary;
    border-radius: 8px;

    color: $primary;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    letter-spacing: 0.1em;

    &.current {
      background-color: $primary;
      color: $bgColorLight;
    }

    // &:not(.sp-no-change) {
    //   @include mq(sp) {
    //     width: 24px;
    //     height: 24px;

    //     font-size: 14px;
    //     line-height: 16.8px;
    //   }
    // }

    i {
      vertical-align: middle;
      font-size: inherit;
    }
  }
}
