@use '../global' as *;

.letter {
  margin-top: 110px;

  @include mq(sp) {
    margin-top: 80px;
  }

  &__title {
    margin-bottom: 42px;

    @include mq(sp) {
      margin-bottom: 62px;

    }
    img {
      z-index: 10;
    }
  }

  &__cards {
    margin-bottom: 62px;
    @include mq(sp) {
      margin-bottom: 37px;
    }
  }

  &__btn {
  }
}
