@use '../global' as *;
.recruit {
  height: 634px;

  background-image: url(../images/top-recruit__bg.webp);
  background-size: cover;
  background-position: center;

  @include mq(sp) {
    height: 696px;
    background-image: url(../images/top-recruit__bg-sp.webp);
  }

  &__container {
    margin: 5px auto 0;

    width: calc((1080 / 1440) * 100vw);
    max-width: 1080px;
    height: 483px;

    border-radius: 40px;
    background-color: rgb(255, 255, 255, 0.9);

    @include mq(sp) {
      margin: 0 auto;
      width: calc((345 / 375) * 100vw);
      height: 546px;
      border-radius: 30px;
    }
  }
  &__title {
    margin-top: 64px;
  }
  &__text {
    margin-top: 48px;
    letter-spacing: 0.1em;

    @include mq(sp) {
      margin-top: 32px;
    }
  }

  &__btn-wrapper {
    gap: 36px;
    @include mq(sp) {
      margin: auto;
      margin-top: 30px;
      gap: 26px;
    }
  }

  &__btn {
    margin: 39px 0 0;

    @include mq(sp) {
      margin: 0;
      width: 240px;
      height: 60px;
    }

    &:first-child {
      background-color: $secondary;
    }
    &:last-child {
      background-color: $accentLight;
    }
  }
}
