@use '../global' as *;

// taxonomy-introduction
.p-introduction {
  // bg-pink-dash
  padding-bottom: 80px;

  @include mq(sp) {
    margin-top: 66px;
  }

  // tabs
  .search__tabs {
    margin-top: 60px;

    @include centerFlex;
    gap: 8px;

    @include mq(sp) {
      margin-top: 68px;
    }

    .search__tab {
      padding-top: 7px;
      width: 149px;
      height: 50px;

      border-radius: 12px 12px 0px 0px;
      border: 1px solid $primary;
      border-bottom: none;
      background-color: $bgColorLight;
      color: $primary;

      @include mq(sp) {
        width: 120px;
        height: 40px;

        line-height: 1;
      }

      &.active {
        background-color: $primary;
        color: $bgColorLight;
      }

      span {
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
        letter-spacing: 0.1em;

        color: inherit;

        @include mq(sp) {
          font-size: 12px;
          line-height: 14.4px;
        }
      }
    }
  }

  // filters
  .search__filters {
    margin-bottom: 10px;
    width: 100%;

    @include centerFlex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 12px;

    @include mq(pc) {
      justify-content: center;
    }

    @include mq(sp) {
      margin-bottom: 3px;
      justify-content: flex-start;
    }

    .search__filter {
      @include centerFlex;

      width: 200px;
      height: 35px;

      border-radius: 8px;
      border: 1px solid $primary;
      background-color: $bgColorLight;
      color: $primary;

      @include mq(sp) {
        width: 150px;
        height: 33px;
      }

      &.active {
        background-color: $primary;
        color: $bgColorLight;
      }

      // for prefecture
      &--small {
        width: 150px;
      }
    }
  }

  // cards
  .introduction__cards {
    // width: auto;
    padding: 60px 40px;
    @include mq(sp) {
      padding: 24px 12px;
    }
  }

  // pagination
  .pagination {
    margin-top: 13px;

    @include mq(sp) {
      margin-top: 0;
    }
  }
}
// taxonomy-introduction /ends here

// single-introduction
.introduction-content {
  margin: auto;
  margin-top: 113px;
  max-width: 1110px;
  padding: 0 14px;

  @include mq(pc) {
    max-width: 700px;
  }

  @include mq(sp) {
    margin-top: 90px;
  }

  img {
    max-width: 800px;
    border-radius: 40px;

    @include mq(sp) {
      width: min(calc((345 / 375) * 100vw), 500px);
      border-radius: 20px;
    }

    @include mq(xs) {
      width: 310px;
    }
  }
  &__heading {
    margin-top: 32px;

    color: $textColor;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.2em;

    @include mq(sp) {
      margin-top: 22px;

      font-size: 18px;
      line-height: 27px;
    }
  }

  &__text {
    margin-top: 16px;
    @include mq(pc) {
      text-align: left;
    }
    @include mq(sp) {
      margin-top: 13px;
      font-size: 16px;
    }
  }
}

// inside(slider)
.inside {
  margin-top: 125px;
  @include mq(sp) {
    margin-top: 80px;
  }
}

// message
.message {
  margin-top: 115px;
  @include mq(sp) {
    margin-top: 80px;
  }
  
  &__container {
    margin: 0 auto;
    margin-top: 54px;
    padding: 15px;
    gap: 32px;

    @include mq(sp) {
      width: 100%;
      margin-top: 34px;
    }
  }
  &__img {
    width: 300px;
    height: 400px;
    border-radius: 20px;

    @include mq(sp) {
      width: 200px;
      height: 266.67px;
    }
  }
  &__text {
    max-width: 468px;
    text-align: left;
    padding-top: 10px;

    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.1em;

    @include mq(sp) {
      width: 100%;
      padding-top: 0;
      font-size: 14px;
    }
  }
}
