@use '../global' as *;
.motto {
  margin-top: 120px;

  @include mq(sp) {
    margin-top: 80px;
  }

  &__container {
    margin-top: 60px;
    padding: 0 60px;
    align-items: start;

    gap: 32px;

    @include mq(pc) {
      padding: 0 30px;
    }

    @include mq(sp) {
      padding: 0 15px;
    }
  }

  &__block {
    gap: 48px;
    flex-wrap: nowrap;
    align-items: start;
    justify-content: start;

    @include mq(pc) {
      gap: 32px;
    }

    @include mq(sp) {
      margin: auto;
    }

    &:nth-child(2) {
      flex-direction: row-reverse;

      @include mq(sp) {
        flex-direction: column;
      }
    }

    &-img {
      flex: 0 0 auto;

      width: 480px;
      height: 320px;
      border-radius: 40px;

      object-fit: cover;

      @include mq(pc) {
        width: 50%;
        height: 300px;
      }

      @include mq(sp) {
        margin: auto;

        width: min(calc((240 / 375) * 100vw), 340px);
        height: min(calc((160 / 375) * 100vw), 230px);

        border-radius: 20px;
      }
    }

    &-wrapper {
      display: block;

      text-align: left;
    }

    &-title {
      display: flex;
      align-items: center;
      padding-bottom: 11px;

      font-size: 20px;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 0.2em;

      border-bottom: 1px solid $textColor;

      &:nth-child(1) {
        width: 302px;
        @include mq(sp) {
          width: 284px;
        }
      }
      &:nth-child(2) {
        width: 230px;
        @include mq(sp) {
          width: 219px;
        }
      }
      &:nth-child(3) {
        width: 350px;
        @include mq(sp) {
          width: 315px;
        }
      }

      @include mq(sp) {
        font-size: 18px;
      }
    }

    &-icon {
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }

    &-text {
      margin-top: 24px;

      font-size: 16px;
      font-weight: 400;
      line-height: 2;
      letter-spacing: 0.1em;

      @include mq(sp) {
        margin-top: 12px;
        font-size: 14px;
      }
    }
  }
}

// requirements
.requirements {
  margin-top: 120px;
  padding: 0 30px;

  @include mq(sp) {
    margin-top: 80px;
    padding: 0;
  }

  &__container {
    @include mq(sp) {
      width: min(calc((345 / 375) * 100vw), 500px);
      margin-top: 48px;
    }

    @include mq(xs) {
      max-width: 310px;
    }
  }

  &__block {
    justify-content: start;
    flex-wrap: nowrap;
    gap: 25px;
    border-bottom: 1px dashed $textColor;

    @include mq(sp) {
      align-items: start;
      gap: 0;
      border: none;
    }

    &:last-of-type {
      border-bottom: none;
    }

    &-heading {
      flex: 0 0 auto;
      @include centerFlex;

      width: 200px;
      height: 30px;
      border-radius: 15px;
      background-color: $primary;
      color: $bgColorLight;

      font-size: 18px;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 0.2em;

      @include mq(sp) {
        margin: auto;
        width: 100%;
      }
    }

    &-text {
      padding: 32px 0;
      padding-right: 8px;

      text-align: left;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.2em;

      @include mq(sp) {
        padding: 24px 14px;
      }

      &--small {
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.2em;

        @include mq(sp) {
          font-size: 14px;
          line-height: 21px;
        }
      }

      &--small-sp {
        @include mq(sp) {
          font-size: 14px;
          line-height: 21px;
        }
      }
      &--xsmall-sp {
        @include mq(sp) {
          font-size: 12px;
          line-height: 18px;
        }
      }
    }
  }
}

// FAQ
.faq {
  margin-top: 130px;
  padding: 0 30px;

  @include mq(sp) {
    margin-top: 80px;
    padding: 0;
  }

  &__container {
  }

  &__item {
    margin-top: 24px;

    text-align: left;
    padding: 0;
    border: 2px solid $primary;
    border-radius: 20px;

    @include mq(sp) {
      width: min(calc((345 / 375) * 100vw), 500px);
    }

    @include mq(xs) {
      max-width: 310px;
    }

    &--first {
      margin-top: 60px;
    }

    &-question {
      margin: 0 32px;
      padding: 32px 0;

      justify-content: space-between;

      font-size: 18px;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 0.2em;

      @include mq(sp) {
        align-items: start;

        margin: 0 24px;

        font-size: 16px;
        line-height: 24px;
      }

      &.active {
        padding-bottom: 12px;
        border-bottom: 1px dashed #000000;
      }

      &-text {
        margin-left: 25px;
        flex-grow: 100;
      }
    }

    &-answer {
      margin-top: 44px;
      padding: 32px;
      padding-top: 0;

      align-items: start;
      gap: 27px;

      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.1em;

      @include mq(sp) {
        margin-top: 30px;
        padding: 24px;
        padding-top: 0;

        font-size: 14px;
        line-height: 21px;
      }
    }

    &-QA {
      font-size: 18px;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 0.2em;
    }
  }

  .triangle {
    @include mq(sp) {
      flex-shrink: 0;
      margin-top: 18px;
    }
  }
}
