@use '../global' as *;

// archive-introduction
.p-introduction {
  // bg-pink-dash
  padding-bottom: 80px;

  @include mq(sp) {
    margin-top: 36px;
  }

  // tabs
  .search__tabs {
    margin-top: 50px;

    @include centerFlex;
    gap: 8px;

    @include mq(sp) {
      margin-top: 68px;
    }

    .search__tab {
      cursor: pointer;
      padding-top: 7px;
      width: 149px;
      height: 50px;

      border-radius: 12px 12px 0px 0px;
      border: 1px solid $primary;
      border-bottom: none;
      background-color: $bgColorLight;
      color: $primary;

      &:hover{
        background-color: $secondary;
      }

      @include mq(sp) {
        width: 120px;
        height: 40px;

        line-height: 1;
      }

      &.active {
        background-color: $primary;
        color: $bgColorLight;
      }

      span {
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
        letter-spacing: 0.1em;

        color: inherit;

        @include mq(sp) {
          font-size: 12px;
          line-height: 14.4px;
        }
      }
    }
  }

  // cards
  .introduction__cards {
    // width: auto;
    padding: 60px 40px;
    @include mq(sp) {
      padding: 24px 12px;
    }

    .search__filters{
      justify-content: center;
    }
  }

  // pagination
  .pagination {
    margin-top: 6px;

    @include mq(sp) {
      margin-top: 0;
    }
  }
}
// archive-introduction /ends here
