@use '../global' as *;
.recruit-confirm__form {
  @include mq(sp) {
    margin-top: 30px;
    padding: 64px 15px;
  }

  .form__field {
    &--with-text {
      @include mq(sp) {
        flex-direction: column;
        align-items: start;
        text-align: left;
      }

      .form__heading{
        @include mq(sp) {
          margin-bottom: 4px;
        }
      }
    }
  }

  .form__group{
    margin-bottom: 16px;
  }

  .form__heading {
    @include mq(sp) {
      margin-bottom: 8px;
    }
  }
}
