@use '../global' as *;

.about {
  position: relative;
  padding-top: 2.4rem;
  padding: 40px 0;
  background-color: $bgColorDark;

  &__container {
    width: 1170px;
    max-width: calc(100% - 40px);
    margin: 30px auto;
    padding: 30px;

    background-color: $bgColorLight;
    border: 2px solid $primary;
    border-radius: 5px;

    &-title{
      margin-bottom: 10px;
    }
  }

  &__inner{
    @include centerFlex;
    flex-wrap: wrap;
  }

  &__block{
    padding: 10px;

    img{
      width: 40%;
    }

    &-text{
      margin: 10px 0;
    }
  }
}
