@use '../global' as *;

.footer {
  height: 306px;
  background: linear-gradient(180deg, #fffef3 0%, #fff7b8 100%);

  &__logo {
    width: 240px;
    margin-top: 48px;
  }
  &__nav {
  }

  &__list {
    margin: auto;
    margin-top: 40px;
    width: min(calc((970 / 1440) * 100vw), 970px);

    @include centerFlex;
    flex-wrap: wrap;
    gap: 24px 0;
  }

  &__item {
  }

  &__link {
    padding: 0 26px;
    display: block;
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    letter-spacing: 0.1em;
  }

  &__copyright {
    margin-top: 48px;
    color: $textDark;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: 0.1em;

    & span {
      font-size: 24px;
      vertical-align: top;
    }
  }
}
