@use '../global' as *;

.header {
  width: 100%;
  height: 252px;

  position: absolute;
  top: 0;
  z-index: 10000;

  background-image: url(../images/header.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  @include mq(sp) {
    background-image: url(../images/header-sp.png);
  }
  
  &__nav {
  }

  &__list {
    width: calc((1280 / 1440) * 100vw);
    margin: 0 auto;
    padding-top: 96px;

    @include centerFlex;

    @include mq(xl) {
      width: 100%;
    }
    @include mq(sp) {
      display: none;
    }
  }

  &__item {
    position: relative;
    height: 120px;

    @include centerFlex;

    // 縦線
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0%;
      height: 100%;
      border: 0.9px dashed $textColor;
    }

    &:last-child {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0%;
        height: 100%;
        border: 0.8px dashed $textColor;
      }
    }
  }

  // 丸ぽち
  &__circle,
  &__circle--right {
    position: absolute;
    top: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $textColor;

    &:nth-child(odd) {
      top: 95%;
    }
  }

  &__circle {
    left: -3.3px;
  }

  &__circle--right {
    right: -3.3px;
  }

  &__link {
    width: min(calc((150 / 1440) * 100vw), 150px);
    margin: 0 6.6px;

    display: flex;
    flex-direction: column;
    align-items: center;

    &--logo {
      width: min(calc((280 / 1440) * 100vw), 280px);
    }
  }

  &__icon {
    width: 48px;
    height: 48px;
    margin-bottom: 12px;
  }

  &__logo {
    width: 100%;
  }

  &__text {
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    letter-spacing: 0.04em;
  }
}
