@use '../global' as *;

.header {
  &__nav {
    background-image: url(../images/header.png);
  }

  &__list {
    width: min(calc((1280 / 1440) * 100vw), 1280px);
    height: 120px;
    margin: auto;

    @include centerFlex;
  }

  &__item {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0%;
      height: 100%;
      border: 0.9px dashed $textColor;
    }

    &:last-child {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0%;
        height: 100%;
        border: 0.8px dashed $textColor;
      }
    }
  }

  &__circle,
  &__circle--right {
    position: absolute;
    top: 0;
    left: -3.3px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $textColor;

    &:nth-child(odd) {
      top: 100%;
    }
  }

  &__circle--right {
    right: -3.3px;
  }

  &__link {
    width: 150px;
    margin: 0 6.6px;

    display: flex;
    flex-direction: column;
    align-items: center;

    &--logo {
      width: 280px;
    }
  }

  &__icon {
    width: 48px;
    height: 48px;
    margin-bottom: 12px;
  }

  &__logo {
    width: 100%;
  }

  &__text {
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    letter-spacing: 0.04em;
  }
}
