@use '../global' as *;
.introduction {
  margin-top: 120px;

  @include mq(sp) {
    margin-top: 87px;
  }

  &__title {
    margin-bottom: 72px;

    @include mq(sp) {
      margin-bottom: 50px;
    }
  }

  &__prefectures {
    max-width: 1080px;
    margin: auto;
    margin-bottom: 54px;
    padding: 0 20px;

    @include centerFlex;
    gap: 24px;
    flex-wrap: wrap;

    @include mq(sp) {
      margin-bottom: 39px;
      padding: 0 10px;

      gap: 18px;
    }
  }

  &__block {
    @include centerFlex;
    width: 320px;
    height: 60px;

    background-color: #ffffff;
    border-radius: 20px;
    border: 2px solid #ffedf0;

    color: $textDark;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.1em;

    @include mq(sp) {
      width: 240px;
      height: 40px;

      font-size: 18px;
    }
  }

  &__btn {
    margin: auto;
  }
}
