@use '../global' as *;
.learning {
  padding: 40px 0;
  &__desc{
    margin-top: 20px;
  }

  &__container {
    width: 860px;
    max-width: calc(100% - 40px);
    margin: 40px auto;

    @include centerFlex;
    gap: 30px;
    flex-wrap: wrap;
  }

  &__block {
    width: 180px;
    img {
    }
  }
}
