@use '../global' as *;

.letter {
  &__title {
    margin-bottom: 42px;

    @include mq(sp) {
      margin-bottom: 62px;

    }
    img {
      z-index: 10;
    }
  }

  &__cards {
    margin-bottom: 62px;
    @include mq(sp) {
      margin-bottom: 37px;
    }
  }

  &__btn {
  }
}
