@use '../global' as *;
.steps {
  &__upper {
    padding: 40px 0;

    background-image: url(../images/aboutsecondbg.jpg);
    background-position: center;
    background-size: cover;

    &-desc {
      margin: 20px 0;
    }

    &-text {
      padding: 10px 0;
      color: $textColorLight;

      span {
        color: $primary;
      }
    }
  }

  &__container {
    gap: 30px;
    margin: auto;

    max-width: 1170px;
  }

  &__block {
    padding: 30px 30px 20px;
    border-radius: 5px;
    background-color: $bgColorLight;

    &-num {
      display: block;
      padding: 4px;

      text-transform: uppercase;
      background-color: $primary;
      border-radius: 5px;
      color: $textColorLight;
    }

    &-text {
      margin-top: 15px;
      font-weight: 600;

      &:nth-child(2) {
        margin-top: 30px;
      }
    }
  }

  &__lower {
    padding: 40px 0;

    background-color: $accentDark;

    & > * {
      color: $textColorLight;

      span {
        color: $primary;
      }
    }
  }
}
